@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #fefefe;
}

.ant-flex {
  background: #fefefe;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.ant-layout {
  background: #fefefe;
}

.ant-checkbox-inner {
  border-color: rgba(0, 0, 0, 0.411) !important;
}
